#moodLevelInput{
  width: 115px
}
 img.loading {
    display: block;
    margin: 0 auto;
}

.ng-enter {
  transition: .5s
  linear all;
  -webkit-transition: .5s
  linear all;
  opacity: 0; }
.ng-enter.ng-enter-active { opacity: 1; }

a:hover{text-decoration:none}

.Field {
  padding: 30px 0;
  border-bottom: 1px solid #ebeef5;
}

.Field-modify-hidden:not(:hover){
  opacity: 0;
}

.Field-modify {
  position: absolute;
  margin-left: 16px;
  line-height: inherit;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}
