<div class="card">
  <div class="profileHeader-main">
    <div class="profileHeader-content">
      <div class="profileHeader-contentHead">
        <h1 class="profileHeader-title">
        <span class="profileHeader-name">{{user.username}}
        </span>
        </h1>
        <div class="back-button">
          <a type="button" href="/#!/ownmood">
            Back
          </a>
        </div>
      </div>
      <div class="profileEdit-fields">
        <form class="field">
          <h4 class="field-label">Gender
          </h4>
          <div class="field-content">
            <div>
              <div ng-show="showGender" ng-mouseenter="mousehover('showEditGen')" ng-mouseleave="mousehover('showEditGen')">
                <span class="field-text">{{user.gender || "male"}}</span>
                <a ng-show="showEditGen" href="" class="field-modify" ng-click="showGender=!showGender">
                Edit
                </a>
              </div>
              <div ng-hide="showGender">
                <input type="radio" ng-model="gender" value="male" name="gender">
                  male
                <input type="radio" ng-model="gender" value="female" style="margin-left: 30px;">
                  female
                <div class="ButtonGroup">
                  <button class="btn btn-sm btn-primary-outline" ng-click="changeGender()">Save
                  </button>
                  <button class="btn btn-sm btn-default-outline" type="button" ng-click="showGender=!showGender">Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form class="field">
          <h4 class="field-label">About you
          </h4>
          <div class="field-content">
            <div ng-show="showDesc" ng-mouseenter="mousehover('showEditDesc')" ng-mouseleave="mousehover('showEditDesc')" >
              <span class="field-text">
                <span class="RichText">{{user.description || "Add your description"}}
                </span>
              </span>
              <a ng-show="showEditDesc" href="" class="field-modify" ng-click="showDesc=!showDesc">
              Edit
              </a>
            </div>
            <div ng-hide="showDesc">
              <textarea row="4" col="50" wrap="hard" maxlength="500" ng-model="description" name="descreption">
                {{description}}
              </textarea>
              <div class="ButtonGroup">
                <button class="btn btn-sm btn-primary-outline" ng-click="changeDesc()">Save
                </button>
                <button class="btn btn-sm btn-default-outline" type="button" ng-click="showDesc=!showDesc">Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- <form class="field">
          <h4 class="field-label">Address
          </h4>
          <div class="field-content">
            <div class="AddButton">
              <button class="btn btn-sm btn-primary-outline" type="button">
              add Address
              </button>
            </div>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</div>